.elementor-81 .elementor-element.elementor-element-11b8b04f > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-81 .elementor-element.elementor-element-11b8b04f:not(.elementor-motion-effects-element-type-background),
.elementor-81 .elementor-element.elementor-element-11b8b04f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-f8bb3dd);
}
.elementor-81 .elementor-element.elementor-element-11b8b04f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    /* padding: 1.5em 2em 1.5em 2em; */
}
.elementor-81 .elementor-element.elementor-element-11b8b04f > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-81 .elementor-element.elementor-element-08d8fc3 {
    text-align: left;
}
.elementor-81 .elementor-element.elementor-element-08d8fc3 img {
    width: 76%;
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-menu-toggle {
    margin-left: auto;
    background-color: rgba(249, 249, 249, 0);
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu .elementor-item {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-secondary);
    fill: var(--e-global-color-secondary);
    padding-left: 0px;
    padding-right: 0px;
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--main .elementor-item:hover,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--main .elementor-item:focus {
    color: var(--e-global-color-secondary);
    fill: var(--e-global-color-secondary);
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var(--e-global-color-accent);
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .e--pointer-framed .elementor-item:before,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .e--pointer-framed .elementor-item:after {
    border-color: var(--e-global-color-accent);
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var(--e-global-color-secondary);
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: var(--e-global-color-accent);
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: var(--e-global-color-accent);
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .e--pointer-framed .elementor-item:before {
    border-width: 2px;
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 2px 2px;
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 2px 2px 0 0;
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 2px 0 0 2px;
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 2px 2px 0;
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .e--pointer-underline .elementor-item:after,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .e--pointer-overline .elementor-item:before,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .e--pointer-double-line .elementor-item:before,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .e--pointer-double-line .elementor-item:after {
    height: 2px;
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 {
    --e-nav-menu-horizontal-menu-item-margin: calc(40px / 2);
    --nav-menu-icon-size: 30px;
    z-index: 10;
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
    margin-bottom: 40px;
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown a,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-menu-toggle {
    color: var(--e-global-color-secondary);
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown {
    background-color: var(--e-global-color-f8bb3dd);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-primary);
    border-radius: 6px 6px 6px 6px;
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown a:hover,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown a.highlighted,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-menu-toggle:hover {
    color: var(--e-global-color-f8bb3dd);
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown a:hover,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown a.highlighted {
    background-color: var(--e-global-color-accent);
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var(--e-global-color-f8bb3dd);
    background-color: var(--e-global-color-accent);
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown .elementor-item,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var(--e-global-typography-2f86cf0-font-family), Sans-serif;
    font-size: var(--e-global-typography-2f86cf0-font-size);
    font-weight: var(--e-global-typography-2f86cf0-font-weight);
    letter-spacing: var(--e-global-typography-2f86cf0-letter-spacing);
    word-spacing: var(--e-global-typography-2f86cf0-word-spacing);
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0px 10px 20px 0px rgba(80.67187500000001, 80.67187500000001, 80.67187500000001, 0.06);
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown,
.elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 8px !important;
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 div.elementor-menu-toggle {
    color: #ff4d36;
}
.elementor-81 .elementor-element.elementor-element-7f7e5855 div.elementor-menu-toggle svg {
    fill: #ff4d36;
}
.elementor-81 .elementor-element.elementor-element-5b7442c .elementor-button .elementor-align-icon-right {
    margin-left: 8px;
}
.elementor-81 .elementor-element.elementor-element-5b7442c .elementor-button .elementor-align-icon-left {
    margin-right: 8px;
}
.elementor-81 .elementor-element.elementor-element-5b7442c .elementor-button {
    padding: 10px 20px 10px 20px;
}
.elementor-81 .elementor-element.elementor-element-bee9b73 > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-81 .elementor-element.elementor-element-bee9b73:not(.elementor-motion-effects-element-type-background),
.elementor-81 .elementor-element.elementor-element-bee9b73 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-f8bb3dd);
}
.elementor-81 .elementor-element.elementor-element-bee9b73 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 1.5em 2em 1.5em 2em;
}
.elementor-81 .elementor-element.elementor-element-bee9b73 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-81 .elementor-element.elementor-element-9ea99dd {
    text-align: left;
}
.elementor-81 .elementor-element.elementor-element-9ea99dd img {
    width: 76%;
}
.elementor-81 .elementor-element.elementor-element-dffd6d7 .elementor-button .elementor-align-icon-right {
    margin-left: 8px;
}
.elementor-81 .elementor-element.elementor-element-dffd6d7 .elementor-button .elementor-align-icon-left {
    margin-right: 8px;
}
.elementor-81 .elementor-element.elementor-element-dffd6d7 .elementor-button {
    padding: 10px 20px 10px 20px;
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-menu-toggle {
    margin-left: auto;
    background-color: var(--e-global-color-primary);
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu .elementor-item {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-secondary);
    fill: var(--e-global-color-secondary);
    padding-left: 0px;
    padding-right: 0px;
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--main .elementor-item:hover,
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--main .elementor-item:focus {
    color: var(--e-global-color-secondary);
    fill: var(--e-global-color-secondary);
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var(--e-global-color-accent);
}
.elementor-81 .elementor-element.elementor-element-90d2050 .e--pointer-framed .elementor-item:before,
.elementor-81 .elementor-element.elementor-element-90d2050 .e--pointer-framed .elementor-item:after {
    border-color: var(--e-global-color-accent);
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var(--e-global-color-secondary);
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: var(--e-global-color-accent);
}
.elementor-81 .elementor-element.elementor-element-90d2050 .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-81 .elementor-element.elementor-element-90d2050 .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: var(--e-global-color-accent);
}
.elementor-81 .elementor-element.elementor-element-90d2050 .e--pointer-framed .elementor-item:before {
    border-width: 2px;
}
.elementor-81 .elementor-element.elementor-element-90d2050 .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 2px 2px;
}
.elementor-81 .elementor-element.elementor-element-90d2050 .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 2px 2px 0 0;
}
.elementor-81 .elementor-element.elementor-element-90d2050 .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 2px 0 0 2px;
}
.elementor-81 .elementor-element.elementor-element-90d2050 .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 2px 2px 0;
}
.elementor-81 .elementor-element.elementor-element-90d2050 .e--pointer-underline .elementor-item:after,
.elementor-81 .elementor-element.elementor-element-90d2050 .e--pointer-overline .elementor-item:before,
.elementor-81 .elementor-element.elementor-element-90d2050 .e--pointer-double-line .elementor-item:before,
.elementor-81 .elementor-element.elementor-element-90d2050 .e--pointer-double-line .elementor-item:after {
    height: 2px;
}
.elementor-81 .elementor-element.elementor-element-90d2050 {
    --e-nav-menu-horizontal-menu-item-margin: calc(40px / 2);
    --nav-menu-icon-size: 30px;
    z-index: 10;
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
    margin-bottom: 40px;
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown a,
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-menu-toggle {
    color: var(--e-global-color-secondary);
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown {
    background-color: var(--e-global-color-f8bb3dd);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-primary);
    border-radius: 6px 6px 6px 6px;
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown a:hover,
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown a.highlighted,
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-menu-toggle:hover {
    color: var(--e-global-color-f8bb3dd);
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown a:hover,
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown a.highlighted {
    background-color: var(--e-global-color-accent);
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var(--e-global-color-f8bb3dd);
    background-color: var(--e-global-color-accent);
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown .elementor-item,
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var(--e-global-typography-2f86cf0-font-family), Sans-serif;
    font-size: var(--e-global-typography-2f86cf0-font-size);
    font-weight: var(--e-global-typography-2f86cf0-font-weight);
    letter-spacing: var(--e-global-typography-2f86cf0-letter-spacing);
    word-spacing: var(--e-global-typography-2f86cf0-word-spacing);
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0px 10px 20px 0px rgba(80.67187500000001, 80.67187500000001, 80.67187500000001, 0.06);
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown,
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 8px !important;
}
.elementor-81 .elementor-element.elementor-element-90d2050 div.elementor-menu-toggle {
    color: var(--e-global-color-secondary);
}
.elementor-81 .elementor-element.elementor-element-90d2050 div.elementor-menu-toggle svg {
    fill: var(--e-global-color-secondary);
}
.elementor-81 .elementor-element.elementor-element-90d2050 div.elementor-menu-toggle:hover {
    color: var(--e-global-color-secondary);
}
.elementor-81 .elementor-element.elementor-element-90d2050 div.elementor-menu-toggle:hover svg {
    fill: var(--e-global-color-secondary);
}
.elementor-81 .elementor-element.elementor-element-90d2050 .elementor-menu-toggle:hover {
    background-color: var(--e-global-color-primary);
}
@media (max-width: 1024px) {
    .elementor-81 .elementor-element.elementor-element-11b8b04f {
        padding: 1em 1em 1em 1em;
    }
    .elementor-81 .elementor-element.elementor-element-08d8fc3 img {
        width: 100%;
    }
    .elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu .elementor-item {
        font-size: var(--e-global-typography-text-font-size);
    }
    .elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-2f86cf0-font-size);
        letter-spacing: var(--e-global-typography-2f86cf0-letter-spacing);
        word-spacing: var(--e-global-typography-2f86cf0-word-spacing);
    }
    .elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown a {
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .elementor-81 .elementor-element.elementor-element-bee9b73 {
        padding: 1em 1em 1em 1em;
    }
    .elementor-81 .elementor-element.elementor-element-9ea99dd img {
        width: 100%;
    }
    .elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu .elementor-item {
        font-size: var(--e-global-typography-text-font-size);
    }
    .elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-2f86cf0-font-size);
        letter-spacing: var(--e-global-typography-2f86cf0-letter-spacing);
        word-spacing: var(--e-global-typography-2f86cf0-word-spacing);
    }
    .elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown {
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown li:first-child a {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown li:last-child a {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown a {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown,
    .elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 16px !important;
    }
    .elementor-81 .elementor-element.elementor-element-90d2050 {
        --nav-menu-icon-size: 30px;
    }
}
@media (max-width: 767px) {
    .elementor-81 .elementor-element.elementor-element-11b8b04f {
        padding: 1em 1em 1em 1em;
    }
    .elementor-81 .elementor-element.elementor-element-152246c9 {
        width: 80%;
    }
    .elementor-81 .elementor-element.elementor-element-7fe594ed {
        width: 20%;
    }
    .elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu .elementor-item {
        font-size: var(--e-global-typography-text-font-size);
    }
    .elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-2f86cf0-font-size);
        letter-spacing: var(--e-global-typography-2f86cf0-letter-spacing);
        word-spacing: var(--e-global-typography-2f86cf0-word-spacing);
    }
    .elementor-81 .elementor-element.elementor-element-7f7e5855 .elementor-nav-menu--dropdown a {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .elementor-81 .elementor-element.elementor-element-bee9b73 {
        padding: 1em 1em 1em 1em;
    }
    .elementor-81 .elementor-element.elementor-element-ce1af61 {
        width: 45%;
    }
    .elementor-81 .elementor-element.elementor-element-8a0d9fb {
        width: 55%;
    }
    .elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu .elementor-item {
        font-size: var(--e-global-typography-text-font-size);
    }
    .elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-2f86cf0-font-size);
        letter-spacing: var(--e-global-typography-2f86cf0-letter-spacing);
        word-spacing: var(--e-global-typography-2f86cf0-word-spacing);
    }
    .elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--dropdown a {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown,
    .elementor-81 .elementor-element.elementor-element-90d2050 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 16px !important;
    }
    .elementor-81 .elementor-element.elementor-element-90d2050 {
        --nav-menu-icon-size: 26px;
    }
}
@media (min-width: 768px) {
    .elementor-81 .elementor-element.elementor-element-152246c9 {
        width: 20%;
    }
    .elementor-81 .elementor-element.elementor-element-7fe594ed {
        width: 59.975%;
    }
    .elementor-81 .elementor-element.elementor-element-eb40c5b {
        width: 20%;
    }
    .elementor-81 .elementor-element.elementor-element-ce1af61 {
        width: 20%;
    }
    .elementor-81 .elementor-element.elementor-element-f43f3bd {
        width: 20%;
    }
    .elementor-81 .elementor-element.elementor-element-8a0d9fb {
        width: 59.975%;
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-81 .elementor-element.elementor-element-ce1af61 {
        width: 22%;
    }
    .elementor-81 .elementor-element.elementor-element-f43f3bd {
        width: 68%;
    }
    .elementor-81 .elementor-element.elementor-element-8a0d9fb {
        width: 10%;
    }
}
