<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toluwalase</title>
</head>
<body>
    <section>
        <h1>This is GraceForte Academy welcomimg you as always mehn</h1>
        <h1>This is GraceForte Academy welcomimg you as always mehn</h1>
        <h1>This is GraceForte Academy welcomimg you as always mehn</h1>
        <p>Can you see this is a new thing that the Lord is doing and it is marvelous in our sight</p>
    </section>
</body>
</html>