{% load humanize %}
<!-- <table class="table table-borderless datatable"> -->
<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <!-- <th scope="col">Summary</th> -->
        <th scope="col">Price</th>
        <th scope="col">Action</th>
        <th scope="col" style="visibility: hidden;">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for data in services %}
      <tr>
        <td class="col-span-1">
          <img style="height: 50px; width: 80px; border-radius: 5px" src="data:img/webp;base64,{{data.imageBase}}" alt="">
        </td>
        <td>{{data.title}}</td>
        <td>₦ {{data.price|intcomma}}</td>
        <td><button class="btn btn-secondary btn-sm" onclick="onGetServiceDetails(event,'{{data.Id}}')">Edit</button></td>
        <td><button class="btn btn-danger btn-sm" onclick="onApprove(event,'{{data.Id}}', '{{forloop.counter0}}')">Delete</button></td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>